* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: "#E7EBF0";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
