.list__modal__title {
  font-family: inherit;
  font-family: 13px;
}

.list__caption-text {
  font-size: 11px;
  font-family: inherit;
}

.list__caption-text::first-letter {
  text-transform: uppercase;
}
