.trendingVideos {
	width: 100%;
}

.trendingVideos-container {
	width: 100%;
}

.trendingVideos-container::-webkit-scrollbar {
	width: 8px;
}

.trendingVideos-container::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 999px;
}

.trendingVideos-container::-webkit-scrollbar-thumb {
	background-color: #c4c4c4;
	border-radius: 999px;
}

@media screen and (min-width: 800px) {
	.trendingVideos-container {
		overflow-y: auto;
		height: 73vh;
	}
}

/* For Mobile Screens */
@media screen and (max-width: 640px) {
	.trendingVideos-container {
		overflow-x: auto;
		display: flex;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none;
		scroll-behavior: smooth;
		scroll-snap-type: both mandatory;
		width: 100vh;
	}

	/* .trendingVideos-container::-webkit-scrollbar {
		display: none;
	} */
}

/* For tabs */
@media screen and (max-width: 1300px) and (min-width: 640px) {
	.trendingVideos-container {
		overflow-x: auto;
		display: flex;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none;
		scroll-behavior: smooth;
		scroll-snap-type: both mandatory;
		width: 100vh;
	}
}

@media screen and (min-width: 411px) {
}
