.grid__container {
  display: grid;
  grid-template-areas: "main trending";
  width: 100%;
  grid-template-columns: 70% 30%;
}

.main {
  grid-area: main;
  padding-right: 32px;
}

.trending {
  grid-area: trending;
}

.video__buttons {
  display: flex;
  align-items: center;
}

.trending__videos__container {
  height: 66vh;
  overflow-y: auto;
}
.trending__videos__container::-webkit-scrollbar {
  width: 5px;
}

.trending__videos__container::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

.trending__videos__container::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

.trending__videos__heading {
  font-size: 14px;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Sora";
  padding-bottom: 8px;
}

.mobile__video__actions {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  height: 5vh;
}

.trending__videos__mobile {
  overflow-x: auto;
  display: flex;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: both mandatory;
}

.trending__videos__mobile::-webkit-scrollbar {
  display: none;
}

.trending__video__mobile {
  padding: 0 4px;
  scroll-snap-align: start;
}

.trending__video__mobile:first-child {
  padding-left: 16px;
}

.trending__video__mobile:last-child {
  padding-right: 16px;
}

@media screen and (min-width: 411px) {
  .video__desktop {
    display: block;
  }

  .video__mobile {
    display: none;
  }
}

@media screen and (max-width: 411px) {
  .video__desktop {
    display: none;
  }

  .video__mobile {
    display: block;
  }
}
