.video__buttons {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 411px) {
  .video__desktop {
    display: block;
  }

  .video__mobile {
    display: none;
  }
}

@media screen and (max-width: 411px) {
  .video__desktop {
    display: none;
  }

  .video__mobile {
    display: block;
  }
}
