.menu {
  position: relative;
  display: inline-block;
}

.menu__content__item {
  color: #000;
  padding: 12px 16px;
  display: block;
  cursor: pointer;
}

.menu__content__item:hover {
  background-color: #e0e0e0;
}
