.trending__placeholder {
  display: flex;
  width: 100%;
  height: 80px;
  margin-bottom: 16px;
}

.trending__placeholder__left {
  width: 30%;
  background-color: #e0e0e0;
  height: 100%;
  border-radius: 5px;
}

.trending__placeholder__right {
  height: 100%;
  width: 70%;
  padding: 0 16px;
  padding-bottom: 8px;
}

.trending__placeholder__right__top {
  width: 100%;
  margin-bottom: 8px;
}

.trending__placeholder__right__top__child {
  background-color: #e0e0e0;
  height: 12px;
  margin-bottom: 4px;
}

.trending__placeholder__right__bottom {
  background-color: #e0e0e0;
  height: 12px;
  width: 30%;
}
