@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(253, 253, 253, 0.7),
        rgba(253, 253, 253, 0.7)),
    url('/static/scraper/images/omnisraper-website-background.png');
    
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat',
        sans-serif;
    color: #161616;
    background-color: #FDFDFD;
   
    min-height: 100vh;
}


/* GLOBALS */
.showcase-container {
    max-width: 700px;
    align-self: center;
    text-align: center;
}

.showcase-container>h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    color: black;
  
}

.showcase-container>p {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: #393e46;
    margin: 30px 0;
}

/* NAV */
nav {
    top: 0;

    /* support Safari 6.1+, iOS Safari 6.1+ */
    position: -webkit-sticky;
    position: sticky !important;
    z-index: 100;

}

.navbar-custom {
    background-color: #000 !important;
}

.logo {
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.logo:hover {
    color: rgb(185, 185, 185) !important;
}

.hamburger{
    border: none !important;
    outline: none !important;
}

.nav-li:nth-child(1) {
    margin-right: 50px;
}


.nav-links {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: ease-in-out 200ms;
}

.nav-links:hover {
    text-decoration: none;
    color: rgb(185, 185, 185) !important;
}

/* HOME */

.home>.showcase {
    min-height: 400px;
    margin-bottom: 0 !important;
    padding-top: 16px !important;
}

.home>.showcase>.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
 
}

.home-showcase-container {
    max-width: 600px;
    align-self: center;
    text-align: center;
    margin: 20px 0;
}

.home-showcase-container>p {
    font-size: 35px;
    font-weight: 700;
    color: #393e46;
}

.video-tiles-container{
    max-width: 680px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.video-tiles-placeholder{
    display: flex;
}

.video-container{
    width: 280px;
    height: 180px;
    margin: 0 30px 58px 30px;
    background-color: lightgray;
}

.video-container-placeholder {
    width: 280px;
    height: 180px;
    margin: 0 30px 10px 30px;
    background-color: #E0E0E0;
}

.video-container > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
    border: 1px solid #e7e6e1;
    
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.video-button{
    border: none;
    outline: none;
    background-color: #fff;
    color: #0071E3;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #0071E3;
    padding: 5px 12px;
    transition: ease-in-out 200ms;
}

.video-button:focus{
    border: none !important;
    outline: none !important;
}

.report-btn{
    border: 1px solid #0071E3;
    background-color: #fff;
    color: #0071E3;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    /* padding: 8px 10px; */
    font-family: inherit;
}

.video-button:hover{
    text-decoration: none;
    background-color: #0071E3;
    color: white;
    box-shadow: 0px 2px 5px -1px #000;

}

.video-button-placeholder{
    background-color: #E0E0E0;
    padding: 10px 12px;
    height: 42px;
    width: 128px;
    margin: 0 30px 10px 30px;
    border: none;
    outline: none;
}

.home-items {
    min-height: 100px;
    padding: 40px 0;
    background: #000;
    color: #fff;
}

.home-items>.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-items-container {
    display: grid;
    place-items: center;
    justify-self: center;
    max-width: 580px;
    margin: 0 20px;
}

.home-item>h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 28px;
}

.home-item>h1::after {
    background: #0071E3;
    display: block;
    content: '';
    height: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 40px;
}

.option>h1 {
    font-size: 32px;
    font-weight: 600;
}

.option>p {
    font-size: 22px;
    font-weight: 600;
    color: #86868B;
    line-height: 1.2;
}

.option>p>.highlight {
    color: #fff;
}

/* DOWNLOADS */
.error{
    height: 100vh;
    background-color: #f6f6f6 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error>.container{
    display: grid;
    place-items: center;
    text-align: center;
    width: 320px;
}

.error>.container>h1{
    font-weight: 700;
}

.error>.container>p{
    font-weight: 600;
    font-size: 18px;
}

.error-btn{
    background: transparent;
    border: 1px solid #0071E3;
    padding: 10px 12px;
    text-decoration: none;
    transition: ease-in-out 250ms;
    font-weight: 600;
}

.error-btn:hover{
    background: #0071E3;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 2px 5px -1px #000;
}

.downloads {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.downloads>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downloads-highlight{
    color: #000;
}

.download-btn{
    text-decoration: none;
    background-color: #0071E3;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0.625em 1em;
    border-radius: 50px;
    cursor: pointer;
    transition: ease-in-out 200ms;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    outline: none;

}

.download-btn:hover{
    color: #fff;
    text-decoration: none;
    box-shadow: 0em 0.123em 0.3125em -0.0625em #000;
}

.download-btn > i{
    margin-right: 5px;
    /* font-size: 10px; */
}

.downloads-container{
    width: 480px;
    height: 320px;
    display: flex;
}

.downloads-container-video {
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 1px solid #e7e6e1;
    background-color: #f6f5f5;
    margin-bottom: 10px;
}

.downloads-container>a{
    background-color: #fff;
}

.video-bottom {
    display: flex;
    justify-content: space-between;
    justify-self:start;
    margin-top: 10px;
}

.video-bottom>a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;

}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    .showcase-container>h1 {
        font-size: 56px;
    }

    .video-tiles-container{
        display: flex;
        flex-direction: column;
    }

    .video-tiles-placeholder{
        flex-direction: column;
    }

    .video-container {
        width: 500px;
        height: 360px;
        margin: 0 30px 58px 30px;

    }

    .video-container-placeholder{
        width: 500px;
        height: 360px;
        margin: 0 30px 10px 30px;
    }

    .home-items-container {
        max-width: 500px;
    }

    .form-textfield {
        width: 300px;
        padding: 8px 12px;
    }

}

@media only screen and (max-width: 530px) {
    .logo {
        font-size: 18px !important;
    }

    /* HOME */
    .showcase-container>h1 {
        font-size: 42px;
    }

    .showcase-container>p {
        font-size: 22px;
        margin-top: 30px;

    }

    .video-container,
    .video-container-placeholder {
        width: 300px;
        height: 180px;
    }

    .home-items-container {
        max-width: 300px;
    }

    .home-item>h1 {
        font-size: 30px;
    }

    .downloads-container {
        width: 300px;
        height: 200px;
        display: flex;
    }

    /* .download-btn {
        padding: 0.375em 0.625em;
    } */
}

@media only screen and (max-width: 320px) {
    .showcase-container>h1 {
        font-size: 36px;
    }

    .showcase-container>p {
        font-size: 22px;
    }

    .home-showcase-container>p {
        font-size: 28px;
    }

    .video-container,
    .video-container-placeholder {
        width: 240px;
    }

    .home-item>h1 {
        font-size: 26px;
    }

    .video-items {
        max-width: 320px;
        flex-direction: column;
    }

    .download-container{
        max-width: 280px;
    }

    .downloads-container {
        width: 280px;
        height: 180px;
        display: flex;
    }


}

@media only screen and (max-width: 315px) {

    .home-item>h1 {
        font-size: 22px;
    }

    .downloads-container {
        width: 240px;
        height: 160px;
        display: flex;
    }
}