@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat',
        sans-serif;
    color: #161616;
    background-color: #fff;
    position: relative;
    min-height: 100vh;
}

/* GLOBALS */
.showcase-container {
    max-width: 700px;
    align-self: center;
    text-align: center;
}

.showcase-container>h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    color: black;
  
}

.showcase-container>p {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: #393e46;
    margin: 30px 0;
}

/* NAV */
nav {
    top: 0;

    /* support Safari 6.1+, iOS Safari 6.1+ */
    position: -webkit-sticky;
    position: sticky !important;
    z-index: 100;

}

.navbar-custom {
    background-color: #000 !important;
}

.logo {
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.logo:hover {
    color: rgb(185, 185, 185) !important;
}

.hamburger{
    border: none !important;
    outline: none !important;
}

.nav-li:nth-child(1) {
    margin-right: 50px;
}


.nav-links {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: ease-in-out 200ms;
}

.nav-links:hover {
    text-decoration: none;
    color: rgb(185, 185, 185) !important;
}

/* HOME */
.home{
    background-color: #000;

}

.home>.jumbotron {
    min-height: 400px;
    background-color: #fff !important;
    margin-bottom: 0 !important;
    padding-top: 16px !important;
}

.home>.jumbotron>.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
 
}

.home-showcase-container {
    max-width: 600px;
    align-self: center;
    text-align: center;
    margin: 20px 0;
}

.home-showcase-container>p {
    font-size: 35px;
    font-weight: 700;
    color: #393e46;
}

.video-tiles-container{
    max-width: 680px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.video-container{
    width: 280px;
    height: 180px;
    margin: 0 30px 58px 30px;
}

.video-container > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid #e7e6e1;
    
}

.video-button{
    background-color: #fff;
    color: #0071E3;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #0071E3;
    padding: 10px 12px;
    transition: ease-in-out 200ms;
}

.video-button:hover{
    text-decoration: none;
    background-color: #0071E3;
    color: white;
    box-shadow: 0px 2px 5px -1px #000;

}

.home-items {
    min-height: 100px;
    padding: 40px 0;
    background: #000;
    color: #fff;
}

.home-items>.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-items-container {
    display: grid;
    place-items: center;
    justify-self: center;
    max-width: 580px;
    margin: 0 20px;
}

.home-item>h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 28px;
}

.home-item>h1::after {
    background: #0071E3;
    display: block;
    content: '';
    height: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 40px;
}

.option>h1 {
    font-size: 32px;
    font-weight: 600;
}

.option>p {
    font-size: 22px;
    font-weight: 600;
    color: #86868B;
    line-height: 1.2;
}

.option>p>.highlight {
    color: #fff;
}

/* VIDEOS */
.videos>.jumbotron {
    background-color: #000 !important;
    color: #fff;
}

.videos>.jumbotron>.container {
    display: flex;
    justify-content: center;
}

.videos {
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    align-self: center;
    margin: 50px 0;

}

.form-textfield {
    width: 500px;
    padding: 8px 12px;
    font-family: inherit;
}

.form-btn {
    width: 80px;
    outline: none;
    border: none;
    background-color: #0071E3;
    color: #fff;
    padding: 10px 12px;
    font-family: inherit;
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.form-btn:hover {
    background-color: #0057ad;
}

.video-items-container {
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-items {
    display: flex;
    justify-content: center;
    align-self: center;
}

.video-item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 40px;
    margin-top: 20px;
}

.video-item>i {
    font-size: 38px;
    margin-bottom: 16px;
    color: #0071E3;
}

.video-title {
    color: #303030;
    font-size: 19px;
    font-weight: 600;
}

.video-detail {
    color: #757575;
    font-weight: 600;
    font-size: 16px;
}

.video-detail>.italics {
    font-style: italic;
}

/* DOWNLOADS */
.error{
    height: 100vh;
    background-color: #f6f6f6 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error>.container{
    display: grid;
    place-items: center;
    text-align: center;
    width: 320px;
}

.error>.container>h1{
    font-weight: 700;
}

.error>.container>p{
    font-weight: 600;
    font-size: 18px;
}

.error-btn{
    background: transparent;
    border: 1px solid #0071E3;
    padding: 10px 12px;
    text-decoration: none;
    transition: ease-in-out 250ms;
    font-weight: 600;
}

.error-btn:hover{
    background: #0071E3;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 2px 5px -1px #000;
}

.downloads>.jumbotron {
    background-color: #fff !important;
    color: #000;
}

.downloads>.jumbotron>.container {
    display: flex;
    justify-content: center;
}

.downloads{
    min-height: 100vh;
    background: #000;
    margin-bottom: 0 !important;
}

.downloads-highlight{
    color: #000;
}

.download-btn{
    border: none;
    outline: none;
    border-radius: 3px;
    text-decoration: none;
    background-color: #0071E3;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 12px;
    cursor: pointer;
    transition: ease-in-out 200ms
}

.download-btn:hover{
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 2px 5px -1px #000;
}

.downloads-container{
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.downloads-container-video {
    width: 100%;
    height: auto;
    margin: 50px 0;
    outline: none;
    border: none;
    border-radius: 3px;
}

.downloads-container>a{
    background-color: #fff;
}

/* THREADS */

.threads {
    /* height: 100vh; */
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.threads-container {
    display: grid;
    place-items: center;
}

.threads-container>h1 {
    font-size: 64px;
    font-weight: 700;

}

.threads-container>img{
    max-width: 35rem;
    object-fit:contain;
    margin-top: 40px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    .showcase-container>h1 {
        font-size: 56px;
    }

    .video-tiles-container{
        display: flex;
        flex-direction: column;
    }

    .video-container {
        width: 500px;
        height: 360px;
        margin: 0 30px 58px 30px;

    }

    .home-items-container {
        max-width: 500px;
    }

    .form-textfield {
        width: 300px;
        padding: 8px 12px;
    }

    /* VIDEO */
    .video-items {
        flex-direction: column;
        align-items: center;
    }

    .video-item {
        margin-bottom: 30px;
    }

    .threads-container>h1{
        font-size: 50px;
    }

    .threads-container>img {
        max-width: 28rem;
        object-fit: contain;
        margin-top: 40px;
    }


}

@media only screen and (max-width: 530px) {
    .logo {
        font-size: 18px !important;
    }

    /* HOME */
    .showcase-container>h1 {
        font-size: 42px;
    }

    .showcase-container>p {
        font-size: 22px;
        margin-top: 30px;

    }

    .video-container {
        width: 300px;
        height: 180px;
    }

    .home-items-container {
        max-width: 300px;
    }

    .home-item>h1 {
        font-size: 30px;
    }

    .option>h1 {
        font-size: 24px;
        font-weight: 600;
    }

    .option>p {
        font-size: 18px;
        font-weight: 600;
        color: #86868B;
        line-height: 1.2;
    }

    /* VIDEO */
    .form-textfield {
        width: 200px;
        padding: 8px 12px;
    }

    form {
        margin: 30px 0;

    }

    .video-items {
        max-width: 280px;
        flex-direction: column;
    }

    .download-container {
        max-width: 280px;
    }

    .threads-container>h1{
        font-size: 38px;
    }

    .threads-container>img {
        max-width: 20rem;
        object-fit: contain;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 320px) {
    .showcase-container>h1 {
        font-size: 36px;
    }

    .showcase-container>p {
        font-size: 22px;
    }

    .home-showcase-container>p {
        font-size: 28px;
    }

    .video-container {
        width: 240px;
    }

    .home-item>h1 {
        font-size: 26px;
    }

    .video-items {
        max-width: 320px;
        flex-direction: column;
    }

    .download-container{
        max-width: 280px;
    }
    

    .threads-container>h1{
        font-size: 30px;
    }

    .threads-container>img {
        max-width: 14rem;
        object-fit: contain;
        margin-top: 40px;
    }

}

@media only screen and (max-width: 315px) {

    .home-item>h1 {
        font-size: 22px;
    }

    .form-textfield {
        width: 180px;
        padding: 8px 12px;
    }

    .form-btn {
        width: 50px;
    }

    .threads-container>h1 {
        font-size: 26px;
    }
}