.loader{
    height: 50px;
    transform-origin: bottom center;
    animation: rotate 3s linear infinite;
}

.circle{
    display: inline-block;
    background-color: #185adb;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation: grow 1.5s linear infinite;
    transform: scale(0);
    margin: -10px;
}

.circle:nth-child(2){
    background-color: #002366;
    animation-delay: 0.75s
}

@keyframes rotate {
    to{
        transform: rotate(360deg)
    }
}

@keyframes grow{
    50%{
        transform:  scale(1)
    }
}